@charset "UTF-8";

/* 回答はここに書いてね */

.d_table {
  display: table;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}

.top_left {
  display: table-cell;
  width:  100px;
  background-color: #fdc8b8;
  vertical-align: middle;
  padding: 20px;
}

.top_center {
  display: table-cell;
  background-color: #e0abd9;
  vertical-align: middle;
  padding: 20px;
}

.top_right {
  display: table-cell;
  width: 100px;
  background-color: #b6d8ed;
  vertical-align: middle;
  padding: 20px;
}

.bottom_left {
  display: table-cell;
  background-color: #e5d32e;
  vertical-align: middle;
  padding: 20px;
}

.bottom_center {
  display: table-cell;
  background-color: #ec8f9a;
  vertical-align: middle;
  padding: 20px;
}

.bottom_right {
  display: table-cell;
  width: 500px;
  background-color: #8fdcad;
  vertical-align: middle;
  padding: 20px;
 }
/* 回答はここに書いてね */
